# Website related 
docs/_build/*

# Don't upload reference data to github. Only the notebook with instructions 
# and the shell script to download the data. 
data/*
!data/downl-data.sh

results/*

# Don't include any files of the following type:
*.fq
*.fq.gz
*.gtf
*.fa.gz
*.fa
*.sam
*.bam

# Nextflow ignoring
.nextflow*
work/

