// Include the parameters configuration file (params.config)
includeConfig "$projectDir/standard.config"

// Add a profile for docker
profiles {
    docker {
        // Enabling docker 
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "$VSC_SCRATCH/.apptainer_cache"
    }
}

