// Extract all the parameters from the RNAseq.nf script and paste them in this separate params.config file. 
// Define project parameters needed for running the pipeline
params {
    // General parameters
    datadir = "$launchDir/../../data"
    outdir = "$launchDir/results"

    // Reference genome and annotation files
    genome = "${params.datadir}/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
    gtf = "${params.datadir}/ggal_1_48850000_49020000.bed.gff"

    // Input parameters
    reads = "${params.datadir}/*{1,2}.fq.gz"

    // Trimmomatic
    slidingwindow = "SLIDINGWINDOW:4:15"
    avgqual = "AVGQUAL:30"

    // Star
    threads = 2
    genomeSAindexNbases = 10
    lengthreads = 98
}
