// include config file with parameters
includeConfig "${projectDir}/params.config"

// enable docker
docker.enabled = true
docker.runOptions = '-u \$(id -u):\$(id -g)'


// create reports
report {
    enabled = true
    file = "${params.outdir}/report.html"
}
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}