// include config file with parameters
includeConfig "${projectDir}/params.config"

// docker.enabled = true
// docker.runOptions = '-u \$(id -u):\$(id -g)'

apptainer.enabled = true
apptainer.autoMounts = true
apptainer.cacheDir = "$VSC_SCRATCH/.apptainer_cache"

report {
    enabled = true
    file = "${params.outdir}/${new java.util.Date().format('yyyyMMdd-HHmmss')}-report.html"
}
timeline {
    enabled = true
    file = "${params.outdir}/${new java.util.Date().format('yyyyMMdd-HHmmss')}-timeline.html"
}